.containerP{
    margin-top:60px;
    width: 1500px;
    
}

.containerFirstSection{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.containerSelect{
    margin-top:10px;
}

.containerSecondSection{
    box-shadow: 0px 2px 4px #0000004f;
    background-color:white;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom:40px;
}

.containerFormControl{
    display: flex;
    flex-direction: column;
}

.containerForm{
    display: flex;
    justify-content: space-around;
}

button{
    margin-bottom: 40px;
    margin-top: 20px;
    width:180px;
    display: flex;
    position: relative;
    left:80%;
}
.containerThirdSection{
    box-shadow: 0px 2px 4px #0000004f;
    background-color:white;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom:40px;
}

.containerGlobal{
    display: flex;
    justify-content: space-around;
    // background-color: red;
}

.containerLabel{
    background-color:aqua;
    width:100%;
}