* {
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}
body {
    background-color: #f1f5f7;
}

.hhh {
    padding-top: 70px;
}

.pointer {
    cursor: pointer;
}

.transition {
    transition: 0.4s all;
}

a {
    text-decoration: none;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}
// -color e0b60d
.ripple:hover {
    //   background-color: #e0b60d;
    background-image: radial-gradient(circle, transparent 1%, #fac906 1%);
    background-position: center;
    background-size: 15000%;
}

.ripple:active {
    transition: background 0s;
    background-color: #bba34c;
    background-size: 100%;
}

.fixed {
    position: fixed;
}
.upperCase {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}
.bold-500 {
    font-weight: 500;
}
.subtitle {
    position: relative;
    bottom: 1px;
    font-size: 9px;
    margin: 0 15px 0 10px;
}
.text-crumbs {
    font-size: 14px;
}

.opacity-1 {
    opacity: 100 !important;
    transition: 0.4s all !important;
}
.opacity-0 {
    opacity: 0 !important;
}
