<<<<<<< HEAD
.fa-edit {
    color: #FFCC02;
}

.state {
    border-radius: 30px;
}

.prueba {
    background-color: transparent;
    border: none;
    color: #fff;
=======
.fa-edit {
    color: #FFCC02;
}

.state {
    border-radius: 30px;
}

.prueba {
    background-color: transparent;
    border: none;
    color: #fff;
>>>>>>> aac8eeb12fca9dcd49806ee7b771327c959aa58d
}