$primary: #E0B60D;

.nav{
    position: fixed;
    background-color: $primary;
    height: 100vh;
    width: 30%;
    padding: 20px;
    .nav__img{
        position: relative;
    }
        img{
            width: 100%;
            object-fit: cover;
        }
}
