.icon-user{
<<<<<<< HEAD
    font-size: 22px;
=======
    font-size: 20px;
>>>>>>> fbef2457b2d6238b8d7f1d4f009af17d5b2cba9a
}
.icon-arrow{
    margin: 4px 0 0 0;
}
.text-user{
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 18px;
>>>>>>> fbef2457b2d6238b8d7f1d4f009af17d5b2cba9a
    margin: 0 8px 0 3px;
}