$primary: #e0b60d;
$secondary: #000000;

.nav__item {
  padding: 10px 0 10px 0;
  margin: 10px 0 5px 0;

  &-icon {
    font-size: 25px;
    color: $secondary;
    transition: 0.4s all;
    width: 40px;
    text-align: center;
  }
  &-iconArrow {
    padding: 0 10px 0 0;
    display: none;
  }
  &:hover,
  &:hover &-icon,
  &:hover &-label {
    color: white !important;
    transition: 0.4s all !important;
  }
  .nav__subitem {
    padding: 0 0 0 60px;
  }
  .nav__subitem-label {
    color: black;
    margin: 8px 0;
    font-weight: 600;
    font-size: 14.8px;
    &:hover{
      color: white !important;
      transition: 0.4s all !important;
    }
  }
}

.active{
  color: rgb(255, 255, 255) !important;
  transition: 0.4s all;
}
// .background{
//   background: black;
//   border-radius: 10px;
//   // height: 40px;
//   // padding: 10px 0 10px 0;
// }
