.containerNewTeam{
    box-shadow: 0px 2px 4px #0000004f;
    background-color:white;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom:40px;
    margin-top: 40px;
    display:flex;
    
}

.containerForm{
    background-color:red;
}