.section__dash {
    width: 100%;
    max-width: 1800px;
    padding: 20px 25px;
}

.doughtnut {
    width: 100%;
    height: auto;
    padding: 10px;
}

.doughtnut__container {
    width: 400px;
    height: 340px;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #0000004f !important;
}

.doughtnut__container-title {
    width: 100%;
    height: 80px;
    background-color: #ffcc02;
    font-size: 14px;
}

.doughtnut__container-graph {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.icon-soloLearn {
    font-size: 30px;
    margin-left: 10px;
}
.section__dash .status__container {
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #0000004f !important;
    text-align: center;
    margin-left: 8%;
}
