.section__dash {
    width: 100%;
    max-width: 1800px;
    padding: 20px 25px;
}

.graphcsAdmin {
    width: 100%;
    height: auto;
    padding: 10px;
}

.cohorteGoal__container,
.socialMedia__container,
.funnel__container {
    width: 400px;
    height: 300px;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #0000004f !important;
}

.cohorteGoal__container-title,
.socialMedia__container-title,
.funnel__container-title {
    width: 100%;
    height: 80px;
    background-color: #ffcc02;
    font-size: 14px;
}

.cohorteGoal__container-graph,
.socialMedia__container-graph,
.funnel__container-graph {
    width: 100%;
    height: 220px;
}
