.containerP{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left:auto;
    margin-right:auto;
}

.containerFirstSection{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.containerSelect{
    margin-top:10px;
}

.containerSecondSection{
    box-shadow: 0px 2px 4px #0000004f;
    background-color:white;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom:40px;
}

.containerFormControl{
    display: flex;
    flex-direction: column;
}

.containerForm{
    display: flex;
    justify-content: space-around;
}

button{
    margin-bottom: 40px;
    margin-top: 20px;
    width:180px;
    display: flex;
    position: relative;
    left:80%;
}
.containerThirdSection{
    box-shadow: 0px 2px 4px #0000004f;
    background-color:white;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom:40px;
}

.containerGlobal{
    display: flex;
    justify-content: space-around;
}

.containerLabel{
    width: 250px;
    padding-bottom: 30px;
}
.containerLegend {
    padding-bottom: 30px;
}

@media only screen and (max-width: 481px) {
}


@media only screen and (max-width: 769px) {
    .containerFirstSection{
        padding-top: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerSecondSection{
        text-align: center;
    }

    .containerForm{
    flex-direction: column;
    align-items: center;
    }

    button{
        position: initial;
    }

    .containerGlobal {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 1134px) {
    button {
        justify-content: center;
    }
}

@media only screen and (max-width: 1280px) {
    button{
        left:45%;
    }

}