$primary: #fdc300;
.MuiStepIcon-root.MuiStepIcon-active {
  color: $primary !important;
  border: none !important;
}
.MuiSvgIcon-root {
  font-size: 2.5rem !important;
}
.MuiStepIcon-text {
  fill: rgb(110, 110, 110) !important;
}
.MuiStepLabel-root {
  display: flex;
  flex-direction: column !important;
  align-items: center;
}
.MuiStepIcon-root {
  color: #ffffff !important;
  border: 2px solid $primary !important;
  border-radius: 50% !important;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: $primary !important;
  border: none !important;
}
.MuiButton-containedPrimary {
  background-color: $primary !important;
  position: absolute !important;
  right: 40px !important;
}
.makeStyles-root-1,
.makeStyles-root-4,
.makeStyles-root-7,
.makeStyles-root-10,
.makeStyles-root-16,
.makeStyles-root-19,
.makeStyles-root-22,
.makeStyles-root-13 {
  background-color: white !important;
  background: white !important;
  padding: 20px !important;
  box-shadow: 0px 2px 4px #0000004f !important;
}

.jss1,
.jss4,
.jss7,
.jss10,
.jss13,
.jss16,
.jss19,
.jss22, 
.jss25{
  background-color: white !important;
  background: white !important;
  width: 100%;
  padding: 20px !important;
  box-shadow: 0px 2px 4px #0000004f !important;
}
.send-data {
  position: absolute;
  margin-top: 10px;
  right: 45px;
  z-index: 100;
  background-color: $primary !important;
  border: none !important;
}

.MuiStepLabel-label.MuiStepLabel-active {
  font-family: "Gilroy" !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}
.MuiStepLabel-label {
  font-family: "Gilroy" !important;
  font-weight: 600 !important;
  font-size: 15px !important;
}
