* {
    box-sizing: border-box;
}

$colorprimary: #f1f5f7;
$colorsecundary: #fff;

.technical__test {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: $colorprimary;
  justify-content: space-evenly;
  padding-bottom: 40px;
  

  .test {
    background-color: $colorsecundary;
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 2px 4px #0000004f;



    .title__test {
      margin: {
        bottom: 100px;
        left: auto;
        right: auto;
      }
      padding-top: 10px;
      width: 90%;
    }
  }
}

.content__test {
  margin: {
    bottom: 50px;
    left: auto;
    right: auto;
  }
  width: 90%;
}

.form__upload {
    margin: {
        left: auto;
        right: auto;
    }
    width: 90%;
}

.text__download {
    margin-bottom: 120px;
    
    
}

/* Media queries*/ 

@media only screen and (min-width: 481px) {
  .technical__test {
    .test {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }
  }
  
 
}

@media only screen and (min-width: 769px) {
  .technical__test {
    flex-direction: row;
    
    .test {
      width: 35%;
    }
  }
}

@media only screen and (min-width: 900px) {

}
 

@media only screen and (min-width: 1280px) {
 

}

@media only screen and (min-width: 1620px) {
 
}