.section__administer {
    width: 100%;
    max-width: 1800px;
    height: 800px;
    padding: 20px;
}

.form {
    padding: 20px;
    background: white;
    box-shadow: 0px 2px 4px #0000004f;
    border-radius: 5px;
}
.form .form-add {
    width: 50%;
}

.form-select:focus {
    border-color: #fdc300 !important;
    outline: 0 !important;
    box-shadow: 3px 2px 0 0rem #fdc300a3 !important;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #fdc300 !important;
    outline: 0 !important;
    box-shadow: 3px 2px 0 0rem #fdc300a3 !important;
}

.btn-primary {
    color: #ffcc02 !important;
    background-color: #010101 !important;
}
/*responsive*/

@media (max-width: 500px) {
    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 15px;
    }
    .table td {
        text-align: right;
        padding-left: 30%;
        text-align: right;
        position: relative;
        font-size: 60%;
    }
    .btn {
        font-size: 90%;
    }
    .btn .btn-success .btn-danger {
        width: 10%;
        height: 10%;
    }
}
