$primary: #FDC300;
.header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: white;
  // box-shadow: -3px -1px 5px 0px rgba(0, 0, 0, 0.555);
  box-shadow: 0px 2px 4px #0000004f;

  z-index: 100;
  &__logo {
    width: 70px;
    background-color: $primary;
    padding: 5px 0 0 3px;
    transition: .4s all;
  }
  img {
    width: 60px;
    object-fit: cover;
  }
  &__search {
    align-self: center;
    flex: 1;
  }
  &__user {
    width: 200px;
    align-self: center;
  }
  &__dark {
    width: 50px;
    align-self: center;
  }
}

.menu-bar{
  position: relative;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

}
.fa-bars{
  font-size: 23px;
}

@media screen and (max-width: 991px) {
    .menu-bar{
      display: flex;
    }
}
