<<<<<<< HEAD
.section__convocatory{
=======
.section__convocatory {
>>>>>>> fbef2457b2d6238b8d7f1d4f009af17d5b2cba9a
    width: 100%;
    max-width: 1800px;
    height: 800px;
    padding: 20px;
<<<<<<< HEAD
}
=======
}
>>>>>>> fbef2457b2d6238b8d7f1d4f009af17d5b2cba9a
